/* =====================================
              Body
===================================== */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#main{
    display: grid;
    grid-template-areas:
                        'nav nav'
                        'header header'
                        'section section'
                        'footer footer';
    
    grid-auto-rows:  5vw 60vw 100vw 40vw;
}

/* =====================================
              Navbar
===================================== */

nav{
    grid-area: nav;
    width: 100vw;
    height: 90px;
    position: fixed;
    background: white;
    display: flex;
    justify-content: center;
}

nav img{
    width: 20%;
    height: auto;
}

nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
nav ul a{
    color: black;
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold
}
nav ul a:hover{
    opacity: 0.8;
    color: gray;
}


/* =====================================
              Header
===================================== */

header{
    grid-area: header;
    background-color: rgb(232, 210, 252);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
header img{
    width: 70vw;

}

#buscar-projetos{
    width: 70%;
    height: 50px;
}

/* header img:hover{
    cursor: pointer;
    opacity: 0.9;
} */
 
/* =====================================
              Section
===================================== */

section{
    grid-area: section;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 16pt;
    flex-wrap: wrap;
    justify-content: center;
}

section h3{
    font-size: 1em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #263238;
    text-transform: uppercase;
    /* target dividido pelo tamanho da fonte do pai */
}

section div{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
}

section div img {
    width: 270px;
    height: 270px;
    padding-top: 40px;
}

section button{
    align-self: center;
    width: 200px;
    height: 30px;
    background-color: #169BD5;
    text-transform: uppercase;
    border: 1px;
    border-radius: 5px;
    
}

/* section div:hover{
    cursor: pointer;
    opacity: 0.7;
} */

/* =====================================
              Footer
===================================== */

footer{
    grid-area: footer;
    background-color: #4B0082;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 40px;
    margin-right: 10px;
    height: auto;
}

footer ul{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    flex-flow: column wrap;
    align-self: center;
}
footer ul a{
    color:white;
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#logo-abebe{
    width: 150px;
    height: 150px;
    align-self: center;
}

#logo-vaitec{
    width: 150px;
    height: 150px;
    align-self: center;
}